.title {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px; /* Space below title */
  text-align: center;
}

.email-input {
  margin-bottom: 20px; /* Space below email input */
  border-radius: 10px;
}

.text-explanation {
  margin-bottom: 20px; /* Space below explanation text */
  font-size: 14px;
  line-height: 1.5;
  color: #4a4a4a;
  text-align: center;
}

.submit-button {
  background-color: #1098AD;
  color: white;
  font-weight: bold;
  border-radius: 25px; /* Match button style in the image */
  padding: 12px 0;
  margin-bottom: 15px; /* Space before the cancel button */
  font-size: 16px;
}

.submit-button:hover {
  background-color: #1098AD;
}

.cancel-button {
  display: block; /* Ensures it's centered */
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px; /* Adjust space above the link */
}
