.navbar {
  width: 270px; /* Adjust as necessary */
  height: 100%; /* Use 100% to occupy the full height of the parent container */
  padding: var(--mantine-spacing-xs);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding and borders are included in width */
}

  
  .links {
    flex: 1;
    margin-left: calc(var(--mantine-spacing-xs) * -1);
    margin-right: calc(var(--mantine-spacing-xs) * -1);
    color: light-dark(var(--mantine-color-gray-1));
  }
  
  .linksInner {
    padding-bottom: var(--mantine-spacing-xs);
  }
  
  .footer {
    margin-left: calc(var(--mantine-spacing-md) * -1);
    margin-right: calc(var(--mantine-spacing-md) * -1);
  }

  /* Navbar inline styles */

  a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline from links */
    
  }
  
  .linkbox:hover {
    background-color: #2d3748; /* Example hover background color (adjust to your theme) */
  }
  
  /* Apply active state styles */
  .linkbox:active {
    background-color: #2d3748; /* Example active background color (adjust to your theme) */
  }